:root{
    --primary: rgb(11, 66, 216);
    --primary-light: rgb(61, 103, 155);
    --primary-dark: rgb(1, 46, 105);

    --font-color: rgb(1, 6, 15);
    --font-secondary: rgb(20, 1, 43);
}

//breakpoints
$bp-big: 81.25em;
$bp-largest: 68.75em;
$bp-large: 62.5em;
$bp-medium: 43.75em;
$bp-small: 37.5em;