.engage{
    display: grid;
    background: linear-gradient(var(--primary-dark), var(--font-secondary));
    height: 100vh;
    padding: 4rem;
    grid-row-gap: 10rem;
    grid-template-columns: repeat(2, minmax(min-content, 50rem));
    justify-content: space-evenly;
    align-content: center;

    @media only screen and (max-width: $bp-big) {
        grid-template-columns: repeat(2, minmax(min-content, 40rem));
    }

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(1, minmax(min-content, 50rem));
        height: 120vh;
    }

    .card{
        color: #fff;
        justify-self: center;
        align-self: center;

        @media only screen and (max-width: $bp-largest) {
            
        }

        &__title{
            font-size: 3rem;
            transform: translateX(-10%);
        }

        &__image{
            height: 25rem;
        }
        
        button{
            transform: translateX(-8%);
        }

        .small{
            &--link{
                text-decoration: none;
                color: #fff;
                font-size: 1.4rem;
                font-weight: 400;
                margin-bottom: 2rem;
                display: block;
            }
        }
    }
}