.nav{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 3rem;
    margin-top: 1.8rem;
    margin-left: 6rem;
    font-size: 1.7rem;
    font-weight: 700;

    a{
        text-decoration: none;
        color: var(--font-color);
    }

    a:first-of-type{
        display: flex;
        align-items: center;
    }

    &__logo{
        width: 4rem;
        margin-right: .6rem;

        &--name{
            font-family: "Work Sans";
            font-weight: 600;
            font-size: 1.8rem;
            color: var(--font-secondary);
        }
    }
}