@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,600,700|Work+Sans:300,400,700&display=swap");
:root {
  --primary: rgb(11, 66, 216);
  --primary-light: rgb(61, 103, 155);
  --primary-dark: rgb(1, 46, 105);
  --font-color: rgb(1, 6, 15);
  --font-secondary: rgb(20, 1, 43);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Hind Madurai";
  font-weight: 400;
  color: var(--font-color);
}

.heading {
  font-family: "Work Sans";
  color: var(--font-secondary);
}
.heading-1 {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.heading-2 {
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}
.heading-3 {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}
.heading-4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.paragraph {
  font-family: "Work Sans";
  font-size: 1.8rem;
  width: 73%;
  color: var(--font-secondary);
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 3.5rem;
}
.paragraph--start {
  font-size: 1.8rem;
  justify-items: flex-start;
}

.link {
  margin: 2rem 0 2rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.mt-md {
  margin-top: 10rem;
}

.mb-md {
  margin-bottom: 10rem;
}

.btn {
  padding: 1.6rem 3.6rem;
  border: none;
  background-color: var(--primary);
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  margin: 2rem;
  border-radius: 3px;
}
.btn:hover {
  background-color: var(--primary-dark);
}

.nav {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  margin-top: 1.8rem;
  margin-left: 6rem;
  font-size: 1.7rem;
  font-weight: 700;
}
@media only screen and (max-width: 68.75em) {
  .nav {
    width: 100vw;
    margin: auto;
  }
}
.nav a {
  text-decoration: none;
  color: var(--font-color);
}
.nav a:first-of-type {
  display: flex;
  align-items: center;
}
.nav__logo {
  width: 4rem;
  margin-right: 0.6rem;
}
.nav__logo--name {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--font-secondary);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 8rem 10rem;
}
.header__logo {
  width: 30vw;
  margin-bottom: 3rem;
}
.header__title {
  width: 65%;
  text-align: center;
}
@media only screen and (max-width: 68.75em) {
  .header__title {
    width: 80%;
  }
}
.header .small--link {
  text-decoration: none;
  color: var(--font-secondary);
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.header .small--text {
  color: var(--font-secondary);
  font-size: 1.3rem;
  font-weight: 400;
  width: 28%;
  text-align: center;
}

.big {
  display: flex;
  justify-content: center;
  align-items: center;
}
.big__img {
  width: 80%;
}

.engine {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
}
@media only screen and (max-width: 68.75em) {
  .engine {
    flex-direction: column-reverse;
  }
}
.engine__img {
  justify-self: center;
  align-self: center;
  height: 50%;
}
@media only screen and (max-width: 43.75em) {
  .engine__img {
    height: 30%;
  }
}
.engine .description {
  display: flex;
  flex-direction: column;
  width: 38%;
}
@media only screen and (max-width: 68.75em) {
  .engine .description {
    width: 50%;
  }
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (max-width: 68.75em) {
  .tools {
    flex-direction: column;
    align-items: center;
  }
}
.tools .tool {
  margin: 2rem;
  width: 40%;
}
@media only screen and (max-width: 68.75em) {
  .tools .tool {
    width: 60%;
  }
}
.tools .tool__img {
  width: 100%;
  margin-bottom: 2rem;
}

.features {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 2rem;
}

.features-container {
  display: grid;
  grid-gap: 6rem;
  margin: 3rem 4rem 3rem 4rem;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  justify-content: center;
}
.features-container .feature {
  display: grid;
  grid-row-gap: 0.7rem;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: repeat(3, min-content);
}
@media only screen and (max-width: 37.5em) {
  .features-container .feature {
    margin: 0;
    grid-gap: 0;
  }
  .features-container .feature p {
    width: 70%;
  }
}

.engage {
  display: grid;
  background: linear-gradient(var(--primary-dark), var(--font-secondary));
  height: 100vh;
  padding: 4rem;
  grid-row-gap: 10rem;
  grid-template-columns: repeat(2, minmax(min-content, 50rem));
  justify-content: space-evenly;
  align-content: center;
}
@media only screen and (max-width: 81.25em) {
  .engage {
    grid-template-columns: repeat(2, minmax(min-content, 40rem));
  }
}
@media only screen and (max-width: 62.5em) {
  .engage {
    grid-template-columns: repeat(1, minmax(min-content, 50rem));
    height: 120vh;
  }
}
.engage .card {
  color: #fff;
  justify-self: center;
  align-self: center;
}
.engage .card__title {
  font-size: 3rem;
  transform: translateX(-10%);
}
.engage .card__image {
  height: 25rem;
}
.engage .card button {
  transform: translateX(-8%);
}
.engage .card .small--link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  display: block;
}

.container {
  display: grid;
  grid-template-rows: 8rem min-content min-content 100vh max-content max-content max-content;
}

/*# sourceMappingURL=style.css.map */
